#wrapper {
	border: 5px solid red;
}
#wrapper > * {
	border: 5px solid green;
}
#wrapper > * > * {
	border: 5px solid blue;
}
body {
	background-image: url(../../images/bg.jpg);
	background-size: cover;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#header .avatar {
	border-radius: 100%;
	display: inline-block;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.25);
}
#header .avatar img {
	border-radius: 100%;
	display: block;
}
#header h1 {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 200;
}
#header h1 strong {
	color: white;
	font-weight: 200;
}
#header h1 a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

