<!-- 04 Use Vue.js Component Computed Properties -->
<html>
<head>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js'></script>
  <link rel='stylesheet' href='./style.css'>
</head>
<body>
  <div id="card">
    <header>{{ title }}</header>
    <form v-on:submit="addItem">
      <input  type="text" id="itemForm" v-model="input">
      <button >Add Dinosaur</button>
    </form>
    <ul>
      <li v-for="(item,index) in items">
        <button v-on:click="item.quantity -= 1">-</button>
        {{ item.quantity}}
        <button v-on:click="item.quantity += 1">+</button>
        {{ item.text}} <button class="extinct" v-on:click="removeItem(index)">Make Extinct</button>
      </li>
    </ul>
    <ul>
      <li>Total Dinosaurs: {{ totalDinos }} <span>Updated: {{ dinosUpdated }}</span></li>
      <li>Total Species: {{ totalSpecies }} <span>Updated: {{ speciesUpdated }}</span></li>
    </ul>
  </div>
  <script>
    var card = new Vue({
      el:'#card',
      data: {
        title: 'dinosaurs',
        input: '',
        speciesUpdated: -1,
        dinosUpdated: -1,
        items: [
          { text: "Tyrannosaurus", quantity: 5 },
          { text: "Triceratops", quantity: 3 },
          { text: "Stegosaurus", quantity: 6 }
        ]
      },
      methods: {
        addItem: function (e) {
          e.preventDefault();
          if(!this.input) return '';
          this.items.push({ text:this.input, quantity:1 });
          this.input = '';
        },
        removeItem: function (item) {
          this.items.splice(item, 1);
        }
      },
      computed: {
        totalDinos: function () {
          this.dinosUpdated += 1;
          var sum = 0;
          var items = this.items;

          for(var i in items) {
            sum += items[i].quantity;
          }
          
          return sum;
        },
        totalSpecies: function () {
          this.speciesUpdated += 1;
          return this.items.length;
        }
      }
    });
  </script>
</body>

</html>

