#card {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px;
}

#card header {
  background-color: orange;
  color: white;
  height: 20px;
  padding: 12px;
  font-size: 20px;
}

#card div {
  padding: 15px;
}

#card li {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px 12px;
  list-style-type: none;
  padding: 3px;
}
