mixin navLink(link, name)
  li
    a(
      href=link
      class={active: name === current}
    ) #{name}

ul
  +navLink('#', 'Home')
  +navLink('#', 'About')
  +navLink('#', 'Work')
  +navLink('#', 'Contact')
    
