* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html {
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  color: #000;
  background-color: #fff;
}
    
.container {
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  justify-content:center;
}

#cardbox {
  width:94%;
  height:94%;
  padding-left:0.4em;
  padding-right:0.4em;
}

#iconImage {
  display:inline;
}

#titleText {
  font-size:1.4em;
  font-weight:bold;
  color:#777;
}

#contentsText {
  color:#999;
}

#result {
  height:14em;
  overflow:auto;
}


.discussion {
    list-style: none;
    background: #ededed;
    margin: 0;
    padding: 0 0 50px 0;
}

.discussion li {
    padding: 0.5em;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    position: relative;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 0.8em;
    margin: 0 0 0.2em 0;
}

.messages time {
    font-size: 0.7em;
    color: #ccc;
}
