<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgvtkMEWvNfslQVTwla6nTr6ES6rr3WcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>242784285519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthProvider.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-provider-17da4</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-provider-17da4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242784285519:ios:0063abed798c308b6b4b3a</string>
</dict>
</plist>