.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50;
}

/* .child:nth-child(2) {
  align-self: center;
  order: 1;
}

.child:nth-child(3) {
  align-self: flex-end;
}

.child:nth-child(1) {
  order: 2;
}

.child:nth-child(2) {
  order: 3;
} */