//- #3. indentation sensitive
div.box
  ul
    li
      div.wrapper
        h2 Title
        p paragraph

  p My paragraph

// #4. attributes inside parentheses
div.box(
  data-name='box', id='myBox'
)

.box
