<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaj9Et_jaRl8Owd9v6WlHrjwt-dIfgxgA</string>
	<key>GCM_SENDER_ID</key>
	<string>417664161886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthRiverpod</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-riverpod-neverlish</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-riverpod-neverlish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417664161886:ios:d8389cf2645abff81cfccf</string>
</dict>
</plist>