<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>join!</title>
  <style>
    .messages {
      color: #963b3b;
      margin-bottom: 16px;
    }
  </style>
</head>
<body>
	<h1>join my website!</h1>
	<section class="messages"></section>
  <form action="/join" method='post'>
    email: <input type="text" name='email'><br/>
    password: <input type="text" name='password'><br/>
    <input type="submit">
  </br/>
  </form>
</body>
</html>
