<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>email form</title>
</head>
<body>
	<form action='/email/form' method='post'>
		email : <input type="text" name="email"><br/>
    password : <input type="password" name="password"><br/>
	</form>
	<button class='ajaxsend'>login</button>
	<div class='result'></div>
	<script>
		document.querySelector('.ajaxsend').addEventListener('click', function() {
			var email = document.getElementsByName('email')[0].value;
      var password = document.getElementsByName('password')[0].value;

			sendAjax('http://localhost:3000/login', {'email':email, 'password': password});
		})
		function sendAjax(url, data) {
			data = JSON.stringify(data);
			var xhr = new XMLHttpRequest();
			xhr.open('POST', url);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(data);
			xhr.addEventListener('load', function() {
				var result = JSON.parse(xhr.responseText);
				var resultDiv = document.querySelector('.result');
				if (result.email) {
          window.location.href = '/main';
        }
        else if (xhr.status === 401) resultDiv.innerHTML = result + '<div class="signup"><a href="/join"></a></div>'
				else resultDiv.innerHTML = result;
			});
		}
	</script>
</body>
</html>
