.women-of-the-marvel-universe {
  content: "women-of-the-marvel-universe"; }

.text {
  color: #989898; }

.cape {
  background-color: #8465D9; }

img {
  border: 1px dotted red; }

.elektra {
  color: blue;
  border: 1px solid purple;
  font-size: 36px; }

.fancy {
  color: red; }
