.captain-america .stuff, .medusa .stuff, .she-hulk .stuff {
  background: linear-gradient(red, white, blue); }

.doc-ock, .cheetah, .enchantress {
  background: darkred; }

.doc-ock {
  height: 20px;
  width: 20px;
  border: 1px solid green; }

.cheetah {
  height: 20px;
  width: 20px; }

.enchantress {
  height: 20px;
  width: 20px; }

.captain-america {
  height: 20px;
  width: 20px; }

.medusa {
  height: 20px;
  width: 20px; }

.she-hulk {
  height: 20px;
  width: 20px; }

@media screen and (min-width: 800px) {
  .buddy {
    color: purple; } }
