$captain-marvel: red;
$wom: women-of-the-marvel-universe;

.#{$wom} {content: "#{$wom}"}

.text { color: $color-text-muted; }
.cape { background-color: $color-primary; }
img { border: 1px dotted $captain-marvel; }

.elektra {
  $elektra: purple;
  $captain-marvel: blue;

  color: $captain-marvel;
  border: 1px solid $elektra;
  font-size: $font-size-h1;
}

.fancy {
  // color: $elektra; 에러 발생
  color: $captain-marvel
}
