<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId={{ naver_client_id }}"></script>
<style>
  #naver_map_point_{{ id }} {
    width: {{ width }};
    height: {{ height }};
  }
</style>

id: {{ id }}

<div id="naver_map_point_{{ id }}"></div>
<script>
  (function() {
    var base_point = new naver.maps.LatLng({{ base_lat }}, {{ base_lng }});
    var map = new naver.maps.Map(document.getElementById('naver_map_point_{{ id }}'), {
      center: base_point
    });
    var marker = new naver.maps.Marker({
      position: base_point,
      map: map
    });
    naver.maps.Event.addListener(map, 'click', function(e) {
      // 지도의 한 부분이 클릭되면
      marker.setPosition(e.coord); // 해당 위치로 지도의 중심을 변경하고,
      document.getElementById('{{ id }}').value = e.coord.lng() + ',' + e.coord.lat(); // 본 Widget에 "경도,위도" 값 입력
    });
  })();
</script>
