<div id='react-root'></div>

<script type='text/javascript' src='static/js/models.js'></script>
<script type='text/javascript' src='static/js/components.js'></script>
<script type='text/javascript' src='static/js/chat.js'></script>
