<!DOCTYPE>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='//bootswatch.com/assets/css/custom.min.css'>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4'><h1>PacktChat</h1></div>
    </div>
    <div class='row'>
      <%- body %>
    </div>
  </div>
</body>
</html>
