version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.26
    container_name: es7
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 30
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
  
  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.26
    container_name: kibana7
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5601/api/status"]
      interval: 10s
      timeout: 5s
      retries: 30
    depends_on:
      elasticsearch:
        condition: service_healthy
  filebeat:
    image: docker.elastic.co/beats/filebeat:7.17.26
    container_name: filebeat
    user: root
    command: >
      bash -c "
      until curl -s http://kibana:5601/api/status >/dev/null; do
        echo 'Waiting for Kibana...'
        sleep 5
      done;
      filebeat setup --dashboards;
      filebeat -e"
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./logs/access_log:/logs/access_log:ro
    depends_on:
      kibana:
        condition: service_healthy

volumes:
  esdata: