<h1>board create page</h1>
<hr>

<form action="/board/create" method="post" name="boardForm">
    <input type="text" name="title" placeholder="title">
    <textarea name="content"></textarea>
    <input type="submit" value="submit"/>
</form>