<h1>join page</h1>
<hr>

<form action="/user/join" method="post" name="joinForm">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="nickname" placeholder="nickname"/>
    <input type="submit" value="Join"/>
</form>