<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main page</title>
</head>
<body>

    <h1>main page</h1>

    <a href="/login">login</a><br>
    <a href="/logout">logout</a><br>

    <a href="/user/join">join</a><br>

</body>
</html>