version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.26
    container_name: es7
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  mysql:
    image: mariadb:10.11  # MariaDB 10.11 사용
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: movielens
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./ml-100k:/docker-entrypoint-initdb.d/ml-100k
    command: 
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --local-infile=1


  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.26
    container_name: logstash7
    depends_on:
      - elasticsearch
    ports:
      - "5050:5000"
      - "5051:5001"
    volumes:
      - ./json-split-structured.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./data:/usr/share/logstash/data
      - ./json-data:/usr/share/logstash/json-data
    command: logstash -f /usr/share/logstash/pipeline/logstash.conf

volumes:
  esdata: