<head>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/cleditor/1.3.0/jquery.cleditor.css' rel='stylesheet'>

  <link href='/public/style/showpost.css' rel='stylesheet'>

  <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js'></script>
  <script src='https://cdn.jsdelivr.net/cleditor/1.3.0/jquery.cleditor.min.js'></script>
</head>

<body>
  <div class="container">

    <div class="ui raised segment">
      <a class="ui blue ribbon label">게시판</a>
      <span id="board_title"><%=title %></span>

      <div class="ui blue fluid card">
        <div class="content">
          <% 
            var curTitle = posts._doc.title;
            var curContents = posts._doc.contents;
            var curWriter = posts._doc.writer.email; 
          
            // html-entities module is required in post.js
            var entities = new Entities();
            
            var decodedContents = entities.decode(curContents);
          %>
          
          <div id="titleOutput" class="header"><%=curTitle %></div>
          <div class="meta">
            <span class="right floated time">1일전</span>
            <span class="category">일반</span>
          </div>
          <div id="contentsOutput" class="description">
            <%=decodedContents %>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <img class="ui avatar image" src="/public/author.png"> <%=curWriter %>
          </div>
        </div>
      </div>
      
      <br><br><a class="ui button" href='/process/listpost?page=0&perPage=2'>글 목록</a>
      
    </div>
    
  </div>
</body>
