<!doctype html>
<html lang='en'>

<head>
  <title>Learning Vue Js</title>
  <style>
    .red-4 {
      background-color: red;
    }

    .red-5 {
      background-color: firebrick;
    }
  </style>
</head>

<body>
  <div id="myApp">
    <h1>{{{ output | uppercase }}}</h1>
    <div class='red-{{count}}'>{{ count+1 }}</div>
    <input v-model='searchme' />
    <div>Searching for {{ searchme }}</div>
    <ul>
      <li v-for="index in items | filterBy searchme">{{ index.todo }}</li>
    </ul>
    <div>{{ $data | json }}</div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js'></script>
  <script>
    var vm = new Vue ({
      el: '#myApp',
      data: {
        output: 'Hello World',
        searchme: 'nothing yet',
        count: 4,
        items: [{
          todo: 'write code'
        }, {
          todo: 'create website'
        }, {
          todo: 'load content'
        }]
      },
      created: function() {
        this.count++;
        console.log('Instance Created ' + this.output);
      },
      ready: function() {
        console.log('Instance ready ' + this.output);
      }
    })

    vm.output = 'new <br>content';
  </script>
</body>

</html>
