<% const {course, contributors} = htmlWebpackPlugin.options %>

<h1><%= course %></h1>

<ul>
  <% _.forEach(contributors, c => { %>
    <li>
      <%- c %>
    </li>
  <% }) %>
</ul>

<div id="app"></div>
