{% extends "blog/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
  <style>
    .post_photo {
      max-width: 100%;
    }
    .post-map {
      width: 300px;
      height: 300px;
    }
  </style>
  {% if post.lnglat %}
    <script>
      $(function() {
        var lat = {{ post.lat }};
        var lng = {{ post.lng }};
        var myLatLng = {lat: lat, lng: lng};
        var container = $('.post-map')[0];

        var map = new google.maps.Map(container, {
          zoom: 13,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      });
    </script>
  {% endif %}
  <script src="http://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ post.title }}
        </div>
        <div class="panel-body">
          {% if post.photo %}
            <img src='{{ post.photo.url }}' class='post_photo'/>
          {% endif %}
          <hr/>
          <div class='post-map'>
          </div>
          {{ post.content|linebreaks }}

          <hr/>
          <ul>
            {% for comment in post.comment_set.all %}
              <li>
                {{ comment.message }}
                by {{ comment.author }}
                at {{ comment.created_at }}
                {% if comment.author == request.user %}
                  <a href='{{ comment.get_edit_url }}'>
                    수정
                  </a>
                  <a href='{{ comment.get_delete_url }}' class='text-danger'>
                    삭제
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          
        </div>
        <div class="panel-footer">
          <a href='{% url "blog:index" %}' class='btn btn-default'>목록으로</a>
          <a href='{% url "blog:comment_new" post.pk %}' class='btn btn-primary'>댓글 쓰기</a>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endblock %}
